absl-py
antlr4-python3-runtime
astunparse
attrs
black
cachetools
certifi
charset-normalizer
clang
click
cloudpickle
cycler
Cython
dataclasses
fastseg
flatbuffers
future
fvcore
gast
geffnet
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
hydra-core
idna
imageio
imantics
imgaug
importlib-resources
iopath
joblib
jsonschema
keras
Keras-Preprocessing
kiwisolver
labelme2coco
lxml
Markdown
matplotlib
mypy-extensions
networkx
numpy
oauthlib
omegaconf
opencv-python
opt-einsum
pandas
pathspec
Pillow
pixellib
platformdirs
portalocker
protobuf
pyasn1
pyasn1-modules
pycocotools
pydot
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
pyrsistent
python-dateutil
pytz
PyWavelets
PyYAML
regex
requests
requests-oauthlib
rsa
scikit-image
scikit-learn
scipy
Shapely
six
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
# tensorflow
# tensorflow-estimator
termcolor
threadpoolctl
tifffile
tomli
torch
torchvision
tqdm
typing-extensions
urllib3
Werkzeug
wrapt
xmljson
yacs
zipp
